.btn {
    display: block;
    border: none;
    background-color: $button-bg;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    @include btn;
}

.js-button {
    margin-bottom: 20px;
}

@include mobile {
  .js-button {
    display: none;
  }
}
