.head {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &__img {
        display: block;
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 240px;

        @include desktop {
            width: 345px;
            height: 100%;
            border-radius: 8px 0 0 8px;
        }
    }

    &__name {
        @include btn;

        background-color: rgba(0, 0, 0, 0.5);
        padding: 8px 16px;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top-right-radius: 8px;

        @include desktop {
            border-radius: 0 8px 0 8px;
        }
    }
}