.main-container {
    max-width: 1440px;   
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 фрагмента в одном ряду (grid-template-columns: 1fr 1fr 1fr;)
    grid-gap: 20px;

    @include main;

    @include desktop {
        grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(1, 1fr);
    }

    &--change {
        grid-template-columns: repeat(2, 1fr);
    }

    &--change .item {
        display: flex;        
    }

    &--change .head__img {
        width: 345px;
        height: 100%;
        border-radius: 8px 0 0 8px;
    }

    &--change .head__name {
        border-radius: 0 8px 0 8px;
    }

    &--change .text {
        height: auto;
        border-radius: 0 8px 8px 0;
    }
}